@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap');
:root {
  font-family: 'Work Sans', sans-serif;
  /* css vriables*/
  --color-primary: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
  --color-bg: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
  --color-neutral-1: #E3E4E6;
  --color-neutral-2: #e3e4e68c;

  color-scheme: light dark;
  background: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #213547;
  }
}
