@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

:root {
  font-family: 'Work Sans', sans-serif;
  /* css vriables*/
  --color-primary: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
  --color-bg: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
  --color-neutral-1: #E3E4E6;
  --color-neutral-2: #e3e4e68c;

  color-scheme: light dark;
  background: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-neutral-1: invert(#E3E4E6);
    --color-neutral-2: invert(#e3e4e68c);
    --color-bg: linear-gradient(180deg, #ffffff 16.39%, #ffffff 20.51%, #ffffff 24.79%, #ffffff 30.46%, #ffffff 34.11%, #ffffff 36.21%, #ffffff 100%);
    color: #000;
    background-color: var(--color-bg);
   
  }
}

[data-theme="dark"] {
  --color-primary: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
  --color-bg: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
  --color-neutral-1: #E3E4E6;
  --color-neutral-2: #e3e4e68c;
  background: var(--color-bg);
  transition: background-color 0.5s ease;
}

[data-theme="light"] {
  --color-neutral-1: invert(#E3E4E6);
  --color-neutral-2: invert(#e3e4e68c);
  --color-bg: linear-gradient(180deg, #ffffff 16.39%, #ffffff 20.51%, #ffffff 24.79%, #ffffff 30.46%, #ffffff 34.11%, #ffffff 36.21%, #ffffff 100%);
  color: #000;
  background-color: var(--color-bg);
  transition: background-color 0.5s ease;
}


@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

body{
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

h1{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--color-neutral-2);
}

h1 > span{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--color-neutral-1);
}

h2{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--color-neutral-2);
}

h2 > span{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--color-neutral-1);
}

h3{
  font-size: 32px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-neutral-2);
}

h3 > span{
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-neutral-1);
}

h5{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: var(--color-neutral-2);
}

h5 > span{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: var(--color-neutral-1);
}

.container{
  max-width: 2000px;
  margin: 0 auto;
}
