@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
    --color-bg: #000;
    --color-neutral-1: #e3e4e6;
    --color-neutral-2: #e3e4e68c;
    --color-bg-secondary: #121212;
    --color-text-primary: #fff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
    --color-bg: #fff;
    --color-neutral-1: #3c3c3c;
    --color-neutral-2: #1a1a1aee;
    --color-bg-secondary: #121212;
    --color-text-primary: #000;
  }
}

html {
  font-family: 'Work Sans', sans-serif;
  font-size: clamp(15px, 1vw, 20px);
  color-scheme: light dark auto;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* cursor: none; */
}

/* .cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #ffff;
  transition: transform 0.4s;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  z-index: 3;
  animation: cursor 2s infinite;
}

@keyframes cursor {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (max-width: 768px) {
  .cursor {
    display: none;
  }
} */

body {
  margin: 0;
  padding: 0;
  color: var(--color-text-primary);
  background: var(--color-bg);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: clamp(36px, 10vw, 72px);
  line-height: 150%;
  letter-spacing: -0.02em;
}

h2 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: clamp(28px, 10vw, 56px);
  line-height: 150%;
  letter-spacing: -0.02em;
}

h3 {
  font-size: clamp(20px, 10vw, 40px);
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

h5 {
  font-size: clamp(12px, 10vw, 24px);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@-moz-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@-ms-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@-o-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 0;
  }
}

.container {
  max-width: 2000px;
  margin: 0 auto;
  margin-top: 4rem;
}

.nav-item > a {
  font-weight: 600;
  font-size: 0.8rem;
  font-feature-settings: 'liga' off;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-neutral-1);
}
